/.idea
/.metadata
/api_gateway
/auth_service
/config_service
/discovery_service
/news_service
/notification_service
/search_service
/secrets
/subscription_service
/user_service
/etc/kafka/secrets

.vscode
.env
news-app.code-workspace