/.idea
/.metadata
/api_gateway
/auth_service
/config_service
/discovery_service
/news_service
/notification_service
/search_service
/secrets
/subscription_service
/user_service
/etc/kafka/secrets
/etc/redis/secrets
/config-service

.vscode
.env
news-app.code-workspace

hs_err_pid15172.log
hs_err_pid2504.log
hs_err_pid3696.log
replay_pid3696.log
