/.idea
/.metadata
/api-gateway
/auth-service
/config-service
/discovery-service
/news-service
/notification-service
/search-service
/secrets
/subscription-service
/user-service
/etc/kafka/secrets

news-app.code-workspace